<!-- OVERLAY -->
<div 
  class="fixed inset-0 bg-black/40 backdrop-blur-sm z-40"
  *ngIf="isSearchOpen"
  (click)="closeSearch()">
</div>

<!-- POPUP SEARCH BAR -->
<div 
  class="fixed top-0 left-0 w-full shadow-lg z-50 px-6 py-4 bg-[#F7EBE4]
         transform transition-transform duration-300"
  [class.translate-y-0]="isSearchOpen"
  [class.-translate-y-full]="!isSearchOpen"
  (click)="$event.stopPropagation()">

  <div class="flex items-center gap-4">

    <img src="assets/icon/timkiem3.png" class="w-6 h-6 cursor-pointer"/>

    <input
      type="text"
      placeholder="Tìm kiếm sản phẩm..."
      class="w-full px-5 py-3 rounded-xl outline-none
       placeholder:text-[#AE8989] text-[28px] font-medium"
      [(ngModel)]="keyword"
    />

    <button 
      class="text-2xl"
      (click)="closeSearch()">
      ✕
    </button>

  </div>
</div>
