<app-navbar></app-navbar>
<div class="bg-[#F7EBE4]">
    <div>
        <p class="font-medium text-[48px] text-center text-[#AE8989] pt-5">
            TIN TỨC
        </p>
    </div>
    <div class="flex justify-center p-10 gap-10">
        <p class="font-semibold text-[40px]">BLACK FRIDAY </p>
        <img src="/assets/img/new1.png" alt="">
    </div>
    <div class="flex justify-center gap-20 pb-20">
        <img src="/assets/img/new2.png" alt="">
        <img src="/assets/img/new3.png" alt="">
    </div>
    <div class="flex justify-center px-64 gap-12 text-[24px] font-medium">
        <p>Tháng 8 – tháng của những điều ngọt ngào, của yêu thương và những khoảnh khắc đáng nhớ. JM Dress Design xin gửi lời chúc mừng sinh nhật nồng nhiệt</p>
        <p>Tháng 8 – tháng của những điều ngọt ngào, của yêu thương và những khoảnh khắc đáng nhớ. JM Dress Design xin gửi lời chúc mừng sinh nhật nồng nhiệt</p>
    </div>
    <div class="flex justify-center gap-12">
            <p class="font-bold text-[24px]">Xem chi tiết</p>
            <img 
                src="/assets/icon/xemchitiet.png" alt="">

            <img src="/assets/icon/xemchitiet.png" alt="">
    </div>
</div>
<app-footer></app-footer>
