<div class="bg-[#F7EBE4] font-[Poppins] px-6 sm:px-16 py-10">

  <!-- HEADER -->
  <div class="flex justify-between items-center mb-6">
    <h2 class="text-[#8A5252] text-[40px] font-semibold">
      SẢN PHẨM NỔI BẬT
    </h2>

    <div class="flex gap-2">
      <button
        (click)="scrollLeft()"
        class="bg-white p-2 rounded-full shadow hover:scale-105 transition">
        ‹
      </button>

      <button
        (click)="scrollRight()"
        class="bg-white p-2 rounded-full shadow hover:scale-105 transition">
        ›
      </button>
    </div>
  </div>

  <!-- CAROUSEL -->
  <div
    #carousel
    class="flex gap-6 overflow-x-auto scroll-smooth pb-4 snap-x">

    <div
      *ngFor="let product of products"
      class="min-w-[25%] max-w-[25%] snap-start">

      <img [src]="product.image" class=" rounded-xl shadow">

      <p class="text-[20px] font-semibold mt-3">{{product.name}}</p>

      <div class="flex items-center gap-3 mt-2">
        <div class="w-6 h-6 bg-white border rounded-full"></div>
        <div class="w-6 h-6 bg-gray-300 border rounded-full"></div>
        <div class="text-[28px] text-red-500 cursor-pointer">♥</div>
      </div>

      <p class="text-[20px] text-red-600 font-bold mt-2">
        {{ product.price | number }} VNĐ
      </p>

      <div class="flex items-center gap-1 mt-1 text-yellow-400 text-[22px]">
        ★ ★ ★ ★ ☆
      </div>

      <p class="text-[14px] mt-1">( {{ product.stock }} đã bán )</p>

    </div>

  </div>
</div>
