<app-navbar></app-navbar>

<!-- TITLE -->
<div
  class="bg-[#F7EBE4] text-center
         text-[22px] sm:text-[28px] md:text-[40px]
         text-[#8A5252] font-semibold py-4">
  BỘ SƯU TẬP
</div>

<!-- ===== MOBILE SLIDER ===== -->
<div class="bg-[#F7EBE4] md:hidden overflow-hidden">
  <div
    class="flex overflow-x-auto scroll-smooth
           snap-x snap-mandatory
           scrollbar-hide">

    <div class="min-w-full snap-center">
      <img
        src="/assets/img/banner2.png"
        class="w-full h-[200px] object-cover"
      />
    </div>

    <div class="min-w-full snap-center">
      <img
        src="/assets/img/banner1.png"
        class="w-full h-[200px] object-cover"
      />
    </div>

    <div class="min-w-full snap-center">
      <img
        src="/assets/img/banner3.png"
        class="w-full h-[200px] object-cover"
      />
    </div>

    <div class="min-w-full snap-center">
      <img
        src="/assets/img/banner4.png"
        class="w-full h-[200px] object-cover"
      />
    </div>

  </div>
</div>


<!-- ===== DESKTOP / TABLET GRID ===== -->
<div class="bg-[#F7EBE4] hidden md:block px-6 md:px-10 lg:px-16 pb-6">
  <div
    class="grid grid-cols-2 gap-6 mx-auto">

    <img src="/assets/img/banner1.png" class="object-cover hover:scale-105 transition duration-300 rounded-lg">
    <img src="/assets/img/banner2.png" class="object-cover hover:scale-105 transition duration-300 rounded-lg">
    <img src="/assets/img/banner3.png" class="object-cover hover:scale-105 transition duration-300 rounded-lg">
    <img src="/assets/img/banner4.png" class="object-cover hover:scale-105 transition duration-300 rounded-lg">

  </div>
</div>

<!-- PRODUCTS -->
<app-highlight-products></app-highlight-products>

<app-footer></app-footer>
