<app-navbar></app-navbar>
<!-- <div class="flex">
  <img src="/assets/icon/item-hoa.png" alt="" class="w-[25%]">
  <div class="pl-10 pt-5">
    <p class="text-red-700 text-xl font-bold mb-8">
      My journey of "planting flowers" officially began with… a project that had absolutely nothing to do with gardening: Season 1 of Kính Vạn Hoa – Kaleidoscope. This was my very first time stepping into the world of HR — searching for talented individuals, learning how to use HR  tools, and preparing everything from A to Z for each meeting.
    </p>
    <div class="flex gap-8 mb-8">
      <img src="/assets/icon/fb1-.png" alt="" class="w-[290px] h-[55%] ">
      <img src="/assets/icon/fb1-.png" alt="" class="w-[290px] h-[55%] ">
      <img src="/assets/icon/fb1-.png" alt="" class="w-[290px] h-[55%] ">
      <img src="/assets/icon/fb1-.png" alt="" class="w-[290px] h-[55%] ">
    </div>
    <p class="text-red-700 text-xl font-bold">
      My journey of "planting flowers" officially began with… a project that had absolutely nothing to do with gardening: Season 1 of Kính Vạn Hoa – Kaleidoscope. This was my very first time stepping into the world of HR — searching for talented individuals, learning how to use HR tools, and preparing everything from A to Z for each meeting.
    </p>
  </div>
</div>

<!-- <div class="relative bg-white">
  <img src="/assets/icon/item-flower.png" alt="flower" class="w-[600px]">
  <p class="absolute top-[200px] left-[670px] -translate-x-1/2 text-center 
             font-playfair text-8xl font-light leading-tight z-10 text-black">
    Taipei <br> Fashion week
  </p>
  <div class="absolute top-[50px] right-[50px] w-[600px]">
    <div>
      <img src="/assets/icon/ptd-icon1.png" alt="" class="w-[40%] mt-80">
    </div>
  </div>
</div> --> -->
